/* styles.css */

.fancy-text {
    font-family: 'Arial', sans-serif; /* Replace with your preferred font */
    color: #000000; /* Replace with your preferred text color */
    /* Add any other styling you desire for fancy text */
}

.larger-text {
    font-size: 6em; /* Adjust the font size as needed */
}

.smaller-text {
    font-size: 5em;
}

.smallest-text {
    font-size: 2em;
}

.centered-text {
    text-align: center;
}

.bold-text {
   font-weight: 600;
}

.centered {
    margin-left: 40%;
}

/* Additional styling for container elements if needed */
.heading-container,
.subtitle-container {
    margin-bottom: 50px; /* Adjust spacing between heading and subtitle */
}

.reservation-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.box {
    width: 30%; /* Adjust the width as needed */
    height: 500px;
    text-align: center;
    line-height: 100px;
    background-image: url('images/bread.png') center/cover; /* Background image for box-1 */
}

.box-text {
    opacity: 1; /* Set text opacity to 1 (completely opaque) */
    position: relative; /* Position text relative to its parent .box */
    top: 50%; /* Center text vertically */
    left: 50%; /* Center text horizontally */
    transform: translate(-50%, -50%); /* Center text perfectly */
    padding: 25px; /* Adjust the padding as needed */
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
}

/* Additional styling for other boxes if needed */
.box.box-1 {
    background: url('images/bread.png') center/cover no-repeat; /* Background image for box-1 */
}

.box.box-2 {
    background: url('images/cheese.png') center/cover no-repeat; /* Background image for box-2 */
}

.box.box-3 {
    background: url('images/bread.png') center/cover no-repeat; /* Background image for box-3 */
}

/* Style the dropdown button */
.dropbtn {
    background-color: #607d8b;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #607d8b;
    min-width: 160px;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style for the "Reserve" button */
.reserve-btn {
    display: block;
    margin: 20px auto; /* Center the button horizontally with top and bottom margin */
    padding: 10px 20px; /* Add padding to the button */
    font-size: 16px; /* Set the font size */
    background-color: #607d8b; /* Gray-blue color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer;
}

.reserve-btn:hover {
    background-color: #455a64; /* Darker shade on hover */
}

/* Add a class with the desired background color */
.reserved {
    background-color: #005401 !important;
}

.reserveFailed {
    background-color: #ff0000 !important;
}

.hidden {
    display: none;
}

.unhidden {
    display: flex;
}

@media (max-aspect-ratio: 3/2) {
    .larger-text {
        font-size: 2em;
    }

    .smaller-text {
        font-size: 1.1em;
    }
    
    .smallest-text {
        font-size: 1em;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .dropdown {
        margin-bottom: 5vh;
    }

    .box {
        width: 90%; /* Adjust the width as needed */
        height: 500px;
        text-align: center;
        line-height: 100px;
        background-image: url('images/bread.png') center/cover; /* Background image for box-1 */
    }

    .box-text {
        font-size: 1.35em;
    }

    .container-dropdown {
        flex-direction: row;
    }
}